/* Work 컴포넌트 스크롤바 스타일 */
.work-scroll::-webkit-scrollbar {
   width: 10px; /* 스크롤바 너비 */
   background: #ffffff;
}

.work-scroll::-webkit-scrollbar-track {
   background: #ffffff; /* 스크롤바 트랙 색상 */
   /* border-radius: 5px; 트랙의 둥근 모서리 */
}

.work-scroll::-webkit-scrollbar-thumb {
   background: #e4dfdf; /* 스크롤바 핸들 색상 */
   border-radius: 5px; /* 핸들의 둥근 모서리 */
}

.work-scroll::-webkit-scrollbar-thumb:hover {
   background: #e4c194; /* 스크롤바 핸들 호버 색상 */
   border-radius: 5px; /* 호버 시 핸들의 둥근 모서리 */
   cursor: pointer;
}