.tui-grid-table  tr{
	border: 1px solid #cccccc;
/* 	padding-left:10px; */

}

.tui-grid-cell{
	white-space: pre-wrap;
  word-break: break-word;
  vertical-align: center; /* 셀 내용이 상단에 맞춰지도록 설정 */
  line-height: 1.5; /* 행 간격을 일정하게 유지 */

}

.tui-grid-row {
    height: auto; /* 행 높이를 자동으로 조정 */
}

.tui-grid-cell-content {
    padding: 8px; /* 셀 내부 여백 설정 */
}

.tui-grid-cell-header{
	white-space:pre !important;

}

/* tui 비밀번호 가리기  */
.tui-grid-cell-editor-container input[type="password"] {
      font-family: "Consolas", "Courier New", monospace;
      letter-spacing: 2px;
      color: transparent;
      text-shadow: 0 0 0 black;
    }

.tui-grid-cell-invalid.tui-grid-cell {
    background-color: #ffffff !important;
}

.tui-grid-cell-invalid > .tui-grid-cell-content {
    background-color: #f5edb029!important;
    border: 1px solid #dddbd5;
    min-height:25px;
    border-radius:5px;

}

/*tui row 클릭시 색상변경  */
.tui-grid-cell-current-row td{
     background-color: #f0f8ff!important
}
.tui-grid-cell-current-row .tui-grid-cell-editable{
	/* background: #fff!important; */
    padding-left: 5px ;
    padding-right: 5px ;

}

.tui-grid-cell-current-row .tui-grid-cell-editable .tui-grid-cell-content  {
  /*  background: #f5edb029!important; */
  background: #fff!important;
   border: 1px solid #dddbd5;
   border-radius : 8px;
   min-height:30px;

}

.tui-grid-cell.tui-grid-cell-summary{
	text-align : right;
	padding-right:  10px;
}


/* background color */
.blue-light{
	background-color:#f0f5f9
}

.tui-grid-layer-editing:has(.tui-grid-content-text) {
   padding-left: 5px;
   padding-right: 5px;
}

.tui-grid, .tui-grid-container {
    overflow: visible !important; /* 그리드 내 요소들이 경계를 넘도록 허용 */
  }

.tui-grid-cell.tui-grid-cell-disabled {
    
    color: #333 !important; /* 텍스트 색상 설정 */
}

/* 비활성화된 그리드 셀의 내부 콘텐츠 배경색과 테두리 제거 */
.tui-grid-cell.tui-grid-cell-disabled .tui-grid-cell-content {
    background: transparent !important;
    border: 0 !important; /* 테두리 제거 */
}


